<div class="content-card">
  <mat-card>
  <mat-table class="products-table" #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let i = index;">
        <p class="text-truncate">{{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}</p>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <p class="text-truncate">{{ item.name }}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <p class="text-truncate">
          {{ item.email }}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Contact</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <p class="text-truncate">{{ item.phone }}</p>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-raised-button color="primary" (click)="onDetail(item)" style="margin-top: 4px;">Detail</button>
        <button mat-raised-button (click)="onEdit(item.id)" style="margin-top: 4px;">Edit</button>
        <button mat-raised-button color="warn" (click)="onDelete(item.id)" style="margin-top: 4px;">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let order; columns: displayedColumns" class="product">
    </mat-row>
  </mat-table>
  <mat-paginator class="mb-10" [pageSizeOptions]="[20]"></mat-paginator>
</mat-card>
</div>

