.content-card{
  padding: 16px;
}

::ng-deep .mat-paginator-page-size{
  display: none !important;
}

::ng-deep .mat-paginator-range-label{
  display: none !important;
}


::ng-deep .mat-paginator-navigation-previous {
  display: none !important;
}

::ng-deep .mat-paginator-navigation-next {
  display: none !important;
}