<div class="content">
  <mat-card *ngIf="finalData">
    <div>
        <strong>Details</strong>
        <p>ID : {{finalData.id}}</p>
        <p>Name : {{finalData.name}}</p>
        <p>Email : {{finalData.email}}</p>
        <p>Phone : {{finalData.phone}}</p>
    </div>
    <button mat-raised-button color="primary" (click)="onBack()" style="margin-top: 8px;">Back</button>
  </mat-card>
</div>
