<div style="padding:16px">
  <mat-card>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <form [formGroup]="formGroup">
        <mat-step [stepControl]="formGroup">
          <ng-template matStepLabel>Details</ng-template>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Fullname" formControlName="name" />
              <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error *ngIf="formGroup.controls['email'].hasError('email')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone" formControlName="phone" (keypress)="numberOnly($event)" />
              <mat-error *ngIf="formGroup.controls['phone'].hasError('pattern')">
                Please enter digit only
              </mat-error>
              <mat-error *ngIf="formGroup.controls['phone'].hasError('required')">
                Phone is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" [disabled]="formGroup.invalid && !formGroup.dirty" (click)="onSubmit()">Submit</button>
            <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </form>
    </mat-horizontal-stepper>
  </mat-card>
</div>
